@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="row pt-5">
    <h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to reset your password.
    </p>
</div>
