@model Music.db.ViewModels.DeleteArtistViewModel

@{
    ViewData["Title"] = "Delete Artist";
}

<div class="row pt-5">
    <h2>Delete Artist</h2>

    <hr />

    <h4>Are you sure you want to delete @Model.Name?</h4>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ArtistID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
        <div class="row py-3">
            <span asp-validation-for="Error" class="text-danger"></span>
        </div>
    </form>
</div>